/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

.contact-container{
	padding-top: 100px;
	padding-bottom: 60px;
}

.service-details{
	padding-top: 60px;
}

/* Service Details Section */
#service-details .service-details {
	padding: 50px 0;
 }

 /* Featured Image */
 #service-details .featured-image img {
	max-width: 100%;
	height: auto;
 }

 .featured-image{
	text-align: center;
 }

 /* Service Content */
 #service-details .service-content {
	margin-top: 30px;
 }

 /* Sidebar */
 #service-details .sidebar {
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow to the sidebar */
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 30px;
 }

 .sidebar-two{
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow to the sidebar */
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 30px;
 }

 .sidebar-two {
    position: sticky;
    top: 100px;
}


 /* Featured Categories */
 #service-details .featured-categories {
	margin-bottom: 20px;
 }

 #service-details .featured-categories h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
 }

 #service-details .featured-categories ul {
	list-style: none;
	padding: 0;
	margin: 0;
 }

 #service-details .featured-categories li {
	margin-bottom: 10px;
 }

 /* Social Icons */
 #service-details .social-icons {
	margin-top: 20px;
 }

 #service-details .social-icons ul {
	list-style: none;
	padding: 0;
	margin: 0;
 }

 #service-details .social-icons li {
	display: inline-block;
	margin-right: 10px;
 }

 #service-details .social-icons a {
	color: #333;
	font-size: 20px;
	transition: color 0.3s ease;
 }

 #service-details .social-icons a:hover {
	color: #007bff;
 }

 .service-content li{
	margin-left: 15px;
 }

 .service-content h3 span {
	font-size: 22px;
 }

 .service-content p {
	margin-bottom: 10px;
 }

 .service-content h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	margin-bottom: 10px;
	font-family: 'Roboto', sans-serif;
 }


 .popular-treatments li{
	border: 1px solid #f4f4f4;
	border-radius: 5px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ddecbe08;
 }

 .popular-treatments li:hover{
	border: 1px solid #e8e8e8;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #9acd321c;
 }